
/*-----------------------------------------------------*/
/*Ocean map generation*/
body {
  margin: 0;
  background-color: #2980b9;
  overflow-x: hidden;

}

@keyframes animateSprite {
  0% {
    background-position: -600px; 
  }
  20% {
    background-position: 0px; 
  }
  25% {
    background-position: -200px; 
  }
  35% {
    background-position: -400px; 
  }
  40% {
    background-position: -400px;
  }
  50% {
    background-position: -200px;  /* Moving up sprite */
  }
  60% {
    background-position: -0px; /* Straight on sprite */
  }
  67% {
    background-position: -600px; /* Moving up sprite */
  }

  100% {
    background-position: -600px;
  }
}

@keyframes swim {
  0% {
    transform: translate(0, 0); /* Starting position */
  }
  20% {
    transform: translate(calc(-50vw - 100px), 0); /* Animate to center of screen */
  }
  25% {
    transform: translate(calc(-50vw - 100px), 0); /* Stay at the center for 1 second */
  }
  35% {
    transform: translate(calc(-50vw - 100px), -20vh); /* Animate up for 2 seconds */
  }
  50% {
    transform: translate(-25vw, 15vh); /* Animate bottom right for 3 seconds */
  }
  60% {
    transform: translate(-25vw, -20vh); /* Animate up at right of the screen */
  }
  67% {
    transform: translate(-25vw, -20vh);
  }

  100% {
    transform: translate(calc(-100vw - 300px), 0); /* Animate past left past the screen */
  }
}

.ocean {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(0deg, #182848, #2980b9)
}

.bubble {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -30px;
  opacity: 0.2;
  animation: bubble 15s ease-in-out infinite,
    sideWays 4s ease-in-out infinite alternate;
}

@keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 200px;
  }
}

.bubble--1 {
  left: 10%;
  animation-delay: 0.5s;
  animation-duration: 16s;
  opacity: 0.2;
}

.bubble--2 {
  width: 15px;
  height: 15px;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 10s;
  opacity: 0.1;
}

.bubble--3 {
  width: 10px;
  height: 10px;
  left: 30%;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--4 {
  width: 25px;
  height: 25px;
  left: 40%;
  animation-delay: 8s;
  animation-duration: 17s;
  opacity: 0.2;
}

.bubble--5 {
  width: 30px;
  height: 30px;
  left: 60%;
  animation-delay: 10s;
  animation-duration: 15s;
  opacity: 0.1;
}

.bubble--6 {
  width: 10px;
  height: 10px;
  left: 80%;
  animation-delay: 3s;
  animation-duration: 30s;
  opacity: 0.4;
}

.bubble--7 {
  width: 15px;
  height: 15px;
  left: 90%;
  animation-delay: -7s;
  animation-duration: 25s;
  opacity: 0.3;
}

.bubble--9 {
  width: 20px;
  height: 20px;
  left: 50%;
  bottom: 30px;
  animation-delay: -5s;
  animation-duration: 19s;
  opacity: 0.2;
}

.bubble--10 {
  width: 40px;
  height: 40px;
  left: 30%;
  bottom: 30px;
  animation-delay: -21s;
  animation-duration: 16s;
  opacity: 0.3;
}

.bubble--11 {
  width: 30px;
  height: 30px;
  left: 60%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--11 {
  width: 25px;
  height: 25px;
  left: 90%;
  bottom: 30px;
  animation-delay: -10.5s;
  animation-duration: 19s;
  opacity: 0.3;
}


*, *::before, *::after {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.battleship-grid {
  margin: 2vmin;
  display: grid;
  background-color: hsl(200, 100%, 50%);
  grid-template-rows: repeat(10, 5.8vmin);
  grid-template-columns: repeat(10, 5.8vmin);
}

.battleship-grid div {
  border: 1px solid lightgray;
}

/*--------------------------------------------------------*/
/*Ships design*/
/*you can change the width and height of the ship*/
/*the way how it present in the screen*/
/*width and height can not > the container height and width */

.grid-display {
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

.ship > div {
  width: 4.6vmin;
  height: 4.6vmin;
}

.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(4.6vmin * var(--width, 1));
  height: calc(4.6vmin * var(--height, 1));
  border-radius: 2.3vmin;
}


.destroyer-container {
  --width: 2;
}

.submarine-container{
  --width: 3;
}

.cruiser-container {
  --width: 3;
}

.battleship-container {
  --width: 4;
}

.carrier-container {
  --width: 5;
}

.taken,
.ship {
  position: relative;
  background-color: black;

}

/*---------------------------------------------------------------*/
/*draggable ship*/
/*each ship can be drag into player map but the computer or you can change in the script( DO NOT DO THAT PLEASE)*/ 
/*computer ships*/

.taken.start.vertical,
.taken.start.vertical::before {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.taken.end.vertical,
.taken.end.vertical::before {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.taken.start.horizontal,
.taken.start.horizontal::before {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.taken.end.horizontal,
.taken.end.horizontal::before {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.taken.vertical::before,
.taken.horizontal::before {
  content: '';
  position: absolute;
  border: .3vmin solid white;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

/*----------------------------------------------------*/
/*Rotate ships*/


.destroyer-container-vertical {
  --height: 2;
  --width: 1;
}


.submarine-container-vertical{
  --height: 3;
  --width: 1;
}

.cruiser-container-vertical {
  --height: 3;
  --width: 1;
}



.battleship-container-vertical {
  --height: 4;
  --width: 1;
}



.carrier-container-vertical {
  --height: 5;
  --width: 1;
}


/*--------------------------------------------------*/
/*Rotate button and start button*/
.startButton{
  background-color: lightgreen;
  margin: auto;
  padding: 10px;
  text-align: center;
  align-content: center;
 
}

.rotateButton{
  background-color: lightskyblue;
  margin: auto;
  padding: 10px;
  text-align: center;
  align-content: center;
 
}

.setup-buttons{
  background-color: black;
}

/*--------------------------------------------------*/
/*Computer ships*/
.grid-computer > .taken,
.grid-computer > .boom {
  background-color: yellow;

}


/*--------------------------------------------------*/
/*Turn display board*/

.hidden-info {
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.info-text {
  margin: 1rem;
}

/*--------------------------------------------------*/
/*Attack dots*/
.miss,
.boom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boom::after,
.miss::after {
  content: '';
  position: absolute;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.miss::after {
  background-color: white;
}

.boom::after {
  background-color: red;
}

.miss::before {
  content: '';
  position: absolute;
  animation: hit .2s ease-out forwards;
  border: 1vmin solid white;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.boom {
  animation: boom .2s ease-out forwards;
}

@keyframes hit {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(4);
  }
}

@keyframes boom {
  0% {
    background-color: red;
  }

  100% {
    background-color: hsl(200, 100%, 50%);
  }
}

/*--------------------------------------------------*/
/*Something else*/


html {
  font-family: 'Anton', sans-serif;
  background: #2980b9;
}


.homeTitle {
  font-family: 'Archivo Black', sans-serif;
  font-size: 70px;
  margin: auto;
  text-align: center;
  text-shadow: 1px 5px 5px white;
  background: #2980b9;
}

.menuOptions {
  margin: auto;
  padding: 10px;
  text-align: center;
  align-content: center;
  background-color: #2980b9;
}

a:link, a:visited {
  background-color: lightblue;
  color: black;
  border: 2px solid lightblue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
}

a:hover, a:active {
  background-color: #1885f2;
  box-shadow: 1px 5px 5px #2d3a66;
  border: 2px solid #1885f2;
  color: #c3f4fa;
  transition: all 0.2s ease-in;
}

body {
  margin: 0;
  overflow: hidden;
}

/*==================== CREDITS ==========================*/
.creditDiv {
  margin: auto;
  padding: 10px;
  text-align: center;
  align-content: center;
  color: white;
  font-size: 25px;
 background: #2980b9;
 font-family: 'Anton', sans-serif;
}







































